<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
    <button mat-raised-button (click)="goBack()">返回</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px" feFlexFill>
      <app-exam-progress [examInfo]="examInfo" [update]="updateExamInfo" fxFlexFill></app-exam-progress>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="0px">
      </div>
    </div>
  </div>
</div>
