[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-httpauth = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
coverage = "*"

[requires]
python_version = "3.6"
