<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="25px">
  <h2>修改密码</h2>
  <form (ngSubmit)="reset()" [formGroup]="resetForm">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <mat-form-field class="resetFormControl">
        <input #oldPass matInput placeholder="旧密码" formControlName="oldPass" type="password" [errorStateMatcher]="matcher" [readOnly]="isLoading"
          required>
        <mat-error *ngIf="resetForm.get('oldPass').hasError('pattern') && !resetForm.get('oldPass').hasError('required')">
          请输入无空字符的密码
        </mat-error>
        <mat-error *ngIf="!resetForm.get('oldPass').hasError('required') && !resetForm.get('oldPass').hasError('pattern') && !resetForm.get('oldPass').hasError('maxLength')">
          请输入长度不大于32个字符的密码
        </mat-error>
        <mat-error *ngIf="resetForm.get('oldPass').hasError('required')">
          旧密码是
          <strong>必须</strong>的
        </mat-error>
      </mat-form-field>

      <mat-form-field class="resetFormControl">
        <input matInput placeholder="新密码" formControlName="newPass1" type="password" [errorStateMatcher]="matcher" [readOnly]="isLoading"
          required>
        <mat-error *ngIf="resetForm.get('newPass1').hasError('pattern') && !resetForm.get('newPass1').hasError('required')">
          请输入无空字符的密码
        </mat-error>
        <mat-error *ngIf="!resetForm.get('newPass1').hasError('required') && !resetForm.get('newPass1').hasError('pattern') && (resetForm.get('newPass1').hasError('mixLength') || !resetForm.get('newPass1').hasError('maxLength'))">
          请输入一个长度为6到32的密码
        </mat-error>
        <mat-error *ngIf="resetForm.get('newPass1').hasError('required')">
          新密码是
          <strong>必须</strong>的
        </mat-error>
      </mat-form-field>

      <mat-form-field class="resetFormControl">
        <input matInput placeholder="确认新密码" formControlName="newPass2" type="password" [errorStateMatcher]="matcher" [readOnly]="isLoading"
          required>
        <mat-error *ngIf="resetForm.get('newPass2').hasError('pattern') && !resetForm.get('newPass2').hasError('required')">
          请输入无空字符的密码
        </mat-error>
        <mat-error *ngIf="!resetForm.get('newPass2').hasError('required') && !resetForm.get('newPass2').hasError('pattern') && (resetForm.get('newPass2').hasError('mixLength') || !resetForm.get('newPass2').hasError('maxLength'))">
          请输入一个长度为6到32的密码
        </mat-error>
        <mat-error *ngIf="resetForm.get('newPass2').hasError('required')">
          确认新密码是
          <strong>必须</strong>的
        </mat-error>
      </mat-form-field>

      <button class="resetFormControl" mat-raised-button color="accent" type="submit" [disabled]="resetForm.invalid" *ngIf="!isLoading">更新密码</button>
      <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
    </div>
  </form>
</div>
