<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="25px">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0px">
    <button mat-raised-button color="primary" (click)="goCreate()">创建</button>
    <button mat-raised-button color="warn" (click)="delete()" [disabled]="!isSelected()">删除</button>
  </div>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px" class="table-container mat-elevation-z4" [style.min-height]="isLoading ? '200px' : '0'">
    <div class="table-loading-shade" *ngIf="isLoading" fxFlexFill>
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table #table [dataSource]="dataSource" *ngIf="!isLoading" fxFlexFill>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> 用户名 </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> 姓名 </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> 用户类型 </th>
        <td mat-cell *matCellDef="let element"> {{element.userType===0 ? '管理员' : '教师'}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> 操作 </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="goDetail(element)">编辑</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>
  </div>
</div>
