/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 50px;
}
