.matDialogContent {
  padding-top: 5px;
  padding-bottom: 25px;
}

.table-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 300px;
  min-width: 300px;
  overflow-y: auto;
}
